*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
body{
    background-color: black
}
#header{
    
    height: 100vh;
    background-image:url(./home.jpg) ;
    background-repeat: no-repeat;
    background-size:20%;
background-position: 75%;  

}

.logo{
    font-size: 60px;
    color: white;
    
}
nav{
    font-size: 30px;
    position: absolute;
    top: 2%;
    left: 50%;
    letter-spacing: 2px;
}
.head a{
    font-size: 30px;
    text-decoration: none;
    padding: 20px 10px;
    color:white;
}
.head a:hover{
color: red;
}
.logo:hover{
    color: aqua;
}
.menu h1{
    font-size: 50px;
    font-style: italic;
    position: absolute;
    top: 20%;
    left: 10%;  
    color: white; 
}

.menu h2{
    font-size: 50px;
    font-style: italic;
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
.menu h3{
    font-size: 50px;
    font-style: italic;
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    
}
.menu h1:hover{
    color:orangered;
    text-decoration: none;
}
.menu h2:hover{
    color:darkblue;
}

.menu h3:hover{
    color:darkgreen;
}
.menu button{
    font-size: 15px;
    margin: 50px;
    padding: 10px;
    font-family: sans-serif;
    border: 2px solid;
    border-radius: 4px;
    background-color: red;
    position: absolute;
    top: 45%;
    left: 5%;
    
}
.menu button a{
    text-decoration: none;
    color: white;
}
.menu button a:hover{
    color: blue;
}
#botton{
    width: 40%;
    height: 100vh;
    border: 0cap;
    background-image: url(./photo.jpg);
    background-repeat: no-repeat;
    background-size: 75%;
    margin: 5px;
    position: absolute;
    left: 2%;
}
.about h4{
    font-size: 60px;
    padding: 20px 10px;
    display: flex;
    justify-content:center;
    text-align: center;
    color: brown;
    
    
      
}
.about p{
    font-size: 26px;
    font-style: italic;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align:center;
    float: right;
    padding: 30px 40px;
    color: white;
    
}
.skills{
    font-size: 40px;
    position: absolute;
    top:200%;
    left: 30%;
    border: 2px;
    width: 700px;
    margin: 60px auto;
    color:black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px rgba(0,0,0,0.22);
    text-decoration: none;
    background: cornflowerblue;
}

.work{
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    top: 250%;
    left: 40%;
    color: white;
}
.img{

    position: absolute;
    top: 270%;
    left: 5%;
}
#image{
    position: absolute;
    top: -2%;
    left: 120%
}

    







